[tool.poetry]
name = "natal"
version = "0.8.1"
description = "create Natal Chart with ease"
license = "MIT"
repository = "https://github.com/hoishing/natal"
documentation = "https://hoishing.github.io/natal"
authors = ["Kelvin Ng <hoishing@gmail.com>"]
readme = "README.md"
packages = [{ include = "natal", from = "." }]

[tool.poetry.dependencies]
python = "^3.12, <3.13"
pyswisseph = "^2.10.3.2"
pydantic = "^2.8.2"
pandas = "^2.2.2"
tagit = "^0.6.1"
tabulate = "^0.9.0"
weasyprint = "^63.0"

[tool.poetry.group.dev]
optional = true

[tool.poetry.group.dev.dependencies]
ipykernel = "^6.29.5"
pytest = "^8.3.2"
toml = "^0.10.2"
mkdocs-material = { extras = ["imaging"], version = "^9.5.44" }
mkdocstrings = { extras = ["python"], version = "^0.27.0" }
watchdog = "^6.0.0"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
