:root {
  --color-border: white;
  --color-background-alt: #f5f5f5;
  --border-width: 0.1rem;
  --color-text: #595959;
  --text-size: 0.5rem;
}

@page {
  size: A4;
  margin: 2rem 2rem 1rem 2rem;
}

.row1,
.row2,
.row3 {
  display: flex;
}

.row1 {
  & > .chart {
    flex: 1 0 auto;
    /* border: 1px solid red; */
    text-align: center;
    padding-bottom: 0.5rem;
  }
}

main {
  font-family: sans-serif, serif, monospace;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.info_col {
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  & .section {
    margin-bottom: 1rem;
  }
}

table {
  color: var(--color-text);
  font-size: var(--text-size);
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;

  & tr:nth-child(odd) {
    background-color: var(--color-background-alt);
  }

  & td {
    padding: 0.3rem;
    border-right: var(--border-width) solid var(--color-border);
    border-bottom: var(--border-width) solid var(--color-border);
    text-align: center;

    &:last-child {
      border-right: none;
    }
  }

  & tr:last-child td {
    border-bottom: none;
  }
}

svg {
  vertical-align: bottom;
}

.title {
  font-size: var(--text-size);
  font-weight: bold;
  color: var(--color-text);
  padding: 0.3rem 0;
}

.section {
  margin-right: 1rem;

  &:last-child {
    margin-right: 0;
  }
}
